<template>
  <div id="contact">
    <section class="hero">
      <h5>Say Hello!</h5>
      <div id="send-us">
        <h3>Send us a message</h3>
      </div>
      <div id="stripe"></div>
    </section>
    <section>
      <form>
        <div class="fields">
          <input name="name" type="text" required/>
          <label for="name"><span>Name</span></label>
        </div>
        <div class="fields">
          <input name="email" type="email" required/>
          <label for="email"><span>Email Address</span></label>
        </div>
        <div class="fields" style="margin-bottom:46px">
          <input name="subject" type="text" required/>
          <label for="subject"><span>Subject</span></label>
        </div>
        <div class="fields textarea">
          <textarea @keydown.enter="limitTextarea" name="message" rows="4" required></textarea>
          <label for="message"><span>Message</span></label>
        </div>
        <div class="fields">
          <button type="submit" id="send">
            Send Message
          </button>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
export default {
  methods: {
    limitTextarea(e) {
      if(e.target.value.split("\n").length >= Number(e.target.getAttribute('rows'))) {
        e.stopPropagation()
        e.preventDefault()
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#contact {
  .hero {
    background: linear-gradient(to bottom, rgba(219,216,210,1) 0%, rgba(242,242,242,1) 100%);
    padding-bottom: 90px;
    h5 {
      margin-top: 150px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 30px;
      font-weight: normal;
      color: #8D6045;
      letter-spacing: 0.025em;
    }
    #send-us {
      width: 20.5%;
      float: left;
    }
    #stripe {
      content: "";
      display: inline-block;
      width: 79.5%;
      top: 8px;
      position: relative;
      height: 2px;
      background: #8D6045
    }
  }
}

form {
  padding: 100px 163px 10px;
  background: #595D5F;
  color: white;
  .fields {
    margin-bottom: 90px;
    &::after {
      content: " ";
      display: block; 
      height: 0; 
      clear: both;
    }
    textarea {
      resize: none;
      background-attachment: local;
      background-image: repeating-linear-gradient(#595D5F, #595D5F 92px, #DBD8D2 92px, #DBD8D2 94px, #595D5F 94px);
      line-height: 92px;
    }
  }
  input, label, textarea, span {
    font-size: 23px;
    letter-spacing: 0.025em;
    display: block;
    line-height: 1;
  }
  input, textarea {
    font-family: 'Sailec', sans-serif;
    margin: 0;
    border: none;
    width: 100%;
    background: transparent;
    color: white;
    padding-bottom: 20px;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
  }
  input:focus, textarea:focus {
    outline: 0;
  }
  input + label, textarea + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border-top: 2px solid #DBD8D2;
    transition: all 400ms ease;
    height: 0px;
    > span, > span {
      font-size: 23px;
      margin: 0;
      position: absolute;
      top: -43px;
      left: 0px;
      z-index: 2;
      transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    }
  }
  textarea + label {
    border-top: none;
    > span {
      top: -339px;
    }
  }
  input:invalid,
  textarea:invalid {
    box-shadow: none;
  }
  input:focus + label > span,
  input:valid + label > span {
    top: -70px;
    font-size: 16px;
    opacity: .5;
  }
  textarea:focus + label > span,
  textarea:valid + label > span {
    top: -379px;
    font-size: 16px;
    opacity: .5;
  }
  input:not(:focus):invalid {
    opacity: 0;
  }
  button#send {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.1em;
    padding: 23px 38px;
    border-radius: 38px;
    border: 2px solid #DBD8D2;
    background: transparent;
    font-weight: 600;
    float: right;
    margin-right: 8px;
    margin-bottom: 27px;
  }
}
</style>
