<template>
  <div id="home">
    <section class="hero">
      <img id="circle-line" src="../assets/images/circle-line.png"/>
      <h1>We convert ideas into products and products into businesses</h1>
      <p>
        We are a digital studio that works at the
        intersection of design, technology &amp;
        human interaction.
      </p>
    </section>
    <swiper id="slider" :options="swiperOption">
      <swiper-slide>
        <img src="../assets/images/evrywr.png"/>
        <div class="block">
          <div class="content">
            <h5>EVRYWR</h5>
            <p>
              Introducing the world's most
              beautifully design GPS tracker
              through e-commerce.
            </p>
            <a><img src="../assets/images/arrow-circle.svg"/></a>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/images/Group 32.png"/>
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/images/evrywr.png"/>
        <div class="block">
          <div class="content">
            <h5>EVRYWR</h5>
            <p>
              Introducing the world's most
              beautifully design GPS tracker
              through e-commerce.
            </p>
            <a><img src="../assets/images/arrow-circle.svg"/></a>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/images/evrywr.png"/>
        <div class="block">
          <div class="content">
            <h5>EVRYWR</h5>
            <p>
              Introducing the world's most
              beautifully design GPS tracker
              through e-commerce.
            </p>
            <a><img src="../assets/images/arrow-circle.svg"/></a>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/images/evrywr.png"/>
        <div class="block">
          <div class="content">
            <h5>EVRYWR</h5>
            <p>
              Introducing the world's most
              beautifully design GPS tracker
              through e-commerce.
            </p>
            <a><img src="../assets/images/arrow-circle.svg"/></a>
          </div>
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="custom-button-next" slot="button-next">
        <span>NEXT</span><br/><br/><span style="font-weight:900">Sunder</span>
      </div>
    </swiper>
    <section id="what-we-do">
      <h5 style="margin-top: 163px;margin-bottom: 29.5px;">What We Do</h5>
      <div id="horizontal-line"></div>
      <p class="lead">
        We design, develop and launch and market digital products that
        change the way people work, play and connect. Our goal is to offer
        innovative web app and mobile app, communication and digital
        marketing solutions, in which we hold your hand throughout the
        whole life cycle.
        <br/>
        <br/>
        We are a truly global mobile app development company with 2
        offices in 2 countries. The best part, we can help you to turn your
        app ideas into reality.
      </p>
    </section>
    <section id="services">
      <div>
        <img src="../assets/images/services-1.png"/>
        <div class="service-text">
          <h5>01</h5>
          <h2>Ideation<br/>Consulting</h2>
        </div>
      </div>
      <div>
        <img src="../assets/images/services-2.png"/>
        <div class="service-text">
          <h5>02</h5>
          <h2>Application<br/>Development</h2>
        </div>
      </div>
      <div>
        <img src="../assets/images/services-3.png"/>
        <div class="service-text">
          <h5>03</h5>
          <h2>Digital<br/>Marketing</h2>
        </div>
      </div>
      <div>
        <img src="../assets/images/services-4.png"/>
        <div class="service-text">
          <h5>04</h5>
          <h2>Branding &amp;<br/>Design</h2>
        </div>
      </div>
    </section>
    <section id="browse">
      <h5>Browse our portfolio</h5>
      <router-link to="/work"><img src="../assets/images/arrow-circle.svg"/></router-link>
    </section>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    swiper, swiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 0,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.custom-button-next',
        }
      }
    }
  },
}
</script>

<style>
.hero {
  padding: 0px 163px;
  overflow: hidden;
}

.hero h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 67px;
  letter-spacing: 0.150em;
  color: #8D6045;
  max-width: 1050px;
  margin-top: 185px;
  margin-bottom: 35px;
}

.hero p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #595D5F;
  max-width: 460px;
  margin-top: 43px;
  margin-bottom: 93px;
}

#circle-line {
  position: absolute;
  top: -115px;
  left: 515px;
  pointer-events: none;
}

#slider {
  background-color: #595D5F;
}

#slider .swiper-slide {
  width: 1455px;
  margin: 21px 0px 20px 11px;
  position: relative;
  height: 825px;
  background: #AAA;  
}

#slider .swiper-slide .block {
  position: absolute;
  top: 176px;
  left: 144px;
  background: white;
  color: #595D5F;
  height: 473px;
  width: 514px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

#slider .swiper-slide .block .content {
  padding: 128px 103px 104px 73px;
}

#slider .swiper-slide .block .content h5 {
  color: #595D5F;
  margin-bottom: 36px;
}

#slider .swiper-slide .block .content p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #595D5F;
  margin-bottom: 45px;
}

#slider .swiper-wrapper {
  padding-bottom: 52px;
}

#slider .swiper-pagination-bullet {
  background: #DBD8D2;
  opacity: 0.3;
  width: 9px;
  height: 9px;
  margin: 0 8px
}

#slider .swiper-pagination-bullets {
  bottom: 30px
}

#slider .swiper-pagination-bullet-active {
  opacity: 1
}

#slider .custom-button-next {
  position: absolute;
  bottom: 46px;
  z-index: 10;
  cursor: pointer;
  left: 1543px;
  color: #DBD8D2;
  font-weight: 600;
  letter-spacing: .100em;
  font-size: 17px;
}

#what-we-do {
  background: #DBD8D2;
  max-width: 1232px;
  margin-left: 236px;
}

h5 {
  font-size: 17px;
  letter-spacing: 0.100em;
  font-weight: 600;
  color: #8D6045;
  text-transform: uppercase;
}

#what-we-do p.lead {
  color: #8D6045;
  font-size: 30px;
  line-height: 62px;
  letter-spacing: 0.025em;
  max-width: 70%;
  margin-left: 86px;
  margin-bottom: 102px;
  top: -13px;
  position: relative;
}

#horizontal-line {
  content: '';
  display: block;
  background: #8D6045;
  height: 54px;
  width: 2px;
}

#services {
  display: flex;
}

#services > div {
  flex: 1 0 25%;
  position: relative;
}

#services > div img {
  width: 100%
}

#services .service-text {
  position: absolute;
  top: 100px;
  left: 90px;
}

#services h5 {
  color: #DBD8D2;
}

#services h2 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.025em;
  margin-top: 45px;
  color: white;
}

#browse {
  height: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#browse h5 {
  margin-bottom: 38px;
}

</style>
