<template>
  <div id="singlework">
    <section class="hero">
      <h1>Gold Max Construction</h1>
      <p>
        Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing cu
      </p>
    </section>
    <section class="main">
      <div class="container">
        <h5>Homepage</h5>
        <img src="../assets/images/goldmax-full.png"/>
      </div>
    </section>
  </div>
</template>

<style>
#singlework .hero > * {
  color: #DBD8D2
}

#singlework .hero p {
  max-width: 778px;
  margin-bottom: 166px;
}

#singlework h5 {
  color: #595D5F;
  letter-spacing: .200em;
  margin-bottom: 77px;
  margin-left: 37px;
}

section.main {
  background: #DBD8D2;
  padding: 166px 0 148px;
}

.container {
  max-width: 1348px;
  margin: 0 auto;
}

</style>
