<template>
  <div id="work">
    <section class="hero">
      <h1>OUR PORTFOLIO</h1>
      <p>
        Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing cu
      </p>
      <ul class="filter">
        <li>Filter Work</li>
        <li v-for="(filter, index) in filters" :key="index"
          :class="{ active : filter === selectedFilter }"
          @click="selectedFilter = filter">{{filter}}</li>
      </ul>
    </section>
    <section id="portfolios">
      <portfolio :link="'/work/goldmax'">
        <template slot="main-image">
          <img src="../assets/images/goldmax.png"/>
        </template>
        <template slot="background-image">
          <img src="../assets/images/goldmax-bg.png"/>
        </template>
        <template slot="title">
          GOLDMAX<br/>CONSTRUCTION
        </template>
        <template slot="content">
          Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing.
        </template>
      </portfolio>
      <portfolio :link="'/work'">
        <template slot="main-image">
          <img src="../assets/images/mcmillan-woods.png"/>
        </template>
        <template slot="background-image">
          <img src="../assets/images/mcmillan-woods-bg.png"/>
        </template>
        <template slot="title">
          McMILLAN<br/>WOODS
        </template>
        <template slot="content">
          Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing.
        </template>
      </portfolio>
      <portfolio :link="'/work'">
        <template slot="main-image">
          <img src="../assets/images/sureseal.png"/>
        </template>
        <template slot="background-image">
          <img src="../assets/images/sureseal-bg.png"/>
        </template>
        <template slot="title">
          SUNDER<br/>MEDICAL
        </template>
        <template slot="content">
          Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing.
        </template>
      </portfolio>
      <portfolio :link="'/work'">
        <template slot="main-image">
          <img src="../assets/images/modular-space.png"/>
        </template>
        <template slot="background-image">
          <img src="../assets/images/modular-space-bg.png"/>
        </template>
        <template slot="title">
          MODULAR<br/>SPACE
        </template>
        <template slot="content">
          Lorem ipsum dolor sit amet, option saperet nam an, ceteros accommodare in vix. Postea contentiones duo ut. Ex wisi eirmod perpetua nam, no augue constituam sed, eam malorum luptatum sadipscing.
        </template>
      </portfolio>
    </section>
  </div>
</template>

<script>
import Portfolio from '@/components/Portfolio'

export default {
  components: {
    Portfolio
  },
  data() {
    return {
      selectedFilter: "All",
      filters: [
        "All",
        "Website",
        "App Design",
        "Branding",
      ]
    }
  }
}
</script>

<style>
#work .hero {
  background: linear-gradient(to bottom, rgba(219,216,210,1) 0%, rgba(242,242,242,1) 100%);
}

#work .hero h1 {
  margin-top: 140px;
}

#work .hero p {
  color: #8D6045;
  max-width: 778px;
}

ul.filter {
  margin-top: 139px;
  margin-bottom: 150px;
}

ul.filter li {
  display: inline;
  margin-right: 35px;
  font-size: 17px;
  color: #8D6045;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

ul.filter li:not(:first-child) {
  font-weight: bold;
  margin-left: 35px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
  transition: border 250ms ease;
}

ul.filter li:not(:first-child):hover{
  border-bottom-color: #8D604588;
}

ul.filter li.active {
  border-bottom-color: #8D6045;
} 

#portfolios {
  background-color: #f2f2f2;
}

</style>
