<template>
  <div id="footer">
    <div class="left">
      <div>
      <img src="../assets/images/embreo-emblem.png"/>
      &copy; 2018 Embreo Co.
      </div>
    </div>
    <div class="right">
      <div>
        <h5>Location</h5>
        <p>33 Ubi Avenue 3 #08-13</p>
        <p>Vertex, Singapore 408868</p>
      </div>
      <div>
        <h5>Contact</h5>
        <p>+65 9125 6736</p>
        <p>kit@embreo.co</p>
      </div>
      <div>
        <h5>Social</h5>
        <p><a>Facebook</a></p>
        <p><a>Instagram</a></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>


<style>
#footer {
  font-size: 18px;
  line-height: 32px;
  color: white;
  background-color: #8D6045;
  height: 400px;
  letter-spacing: 0.025em;
}

#footer h5 {
  color: #DBD8D2;
  margin-top: 84px;
  margin-bottom: 24px;
}

#footer .left {
  float: left;
  width: 45%
}

#footer .left > div {
  padding: 100px 0 0 145px;  
}

#footer .left img {
  display: block;
  margin-bottom: 46px;
  padding: 10px;
}

#footer .right {
  float: left;
  width: 55%;
}

#footer .right > div {
  float: left;
  width: 33%;
  padding: 40px;
}

#footer .right a {
  text-decoration: underline;
}

</style>

