<template>
  <div class="portfolio">
    <div class="white-stripe"></div>
    <div class="image">
      <div class="background-image">
        <slot name="background-image"></slot>
      </div>
      <div class="main-image">
        <router-link :to="link">
          <slot name="main-image"></slot>
        </router-link>
      </div>
    </div>
    <div class="text">
      <router-link :to="link"><h2>
        <slot name="title">Default Title</slot>
      </h2></router-link>
      <p>
        <slot name="content"></slot>
      </p>
      <router-link class="link" :to="link">Discover -</router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    link: String
  }
}
</script>

<style lang="scss" scoped>
.portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 94px;
  .image, .text {
    position: relative;
    flex: 1 1 50%;
  }
  .background-image {
    position: absolute;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #8D6045;
    letter-spacing: 0.150em;
    line-height: 55px;
    margin: 130px 0 0 167px;
    font-weight: 600;
    max-width: 20ch;
  }
  p {
    margin: 230px auto 77px 300px;
    max-width: 380px;
    color: #8D6045;
    letter-spacing: 0.025em;
    font-size: 18px;
    line-height: 32px;
  }
  a.link {
    margin-left: 296px;
    padding: 4px 10px 4px 4px;
    color: #595D5F;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.100em;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #595D5F 50%, #595D5F);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 100ms ease;
    margin-bottom: 240px;
  }
  a.link:hover { 
    background-position: 0 0;
    color: white;
  }
}

.white-stripe {
  content: "";
  display: block;
  width: 168px;
  height: 7px;
  background: white;
  position: absolute;
  top: 153px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.portfolio:nth-child(odd) {
  .image {
    .background-image {
      top: -5px;
      right: -15px;
    }
    .main-image {
      position: absolute;
      top: 296px;
      right: -197px;
    }
  }
  .image, .text {
    width: 50%;
    display: inline-block;
  }
}

.portfolio:nth-child(even) {
  flex-direction: row-reverse;
  .text {
    text-align: right;
    h2 {
      margin: 130px 167px 0 auto;
    }
    p {
      margin: 230px 300px 77px auto;
    }
    a.link {
      margin: 0 290px 240px auto
    }
  }
  .image {
    right: -10px;
    .background-image {
      top: -5px;
      left: -15px;
    }
    .main-image {
      position: absolute;
      top: 296px;
      left: -194px;
    }
  }
  .image, .text {
    width: 50%;
    display: inline-block;  
  }
}
</style>
