<template>
  <div id="app" :class="{ alt : $route.name === 'SingleWork' }">
    <header>
      <nav>
        <ul>
          <li id="embreo-logo"><router-link to="/">
            <img v-if="$route.name === 'SingleWork'" src="./assets/images/embreo-logo-alt.png"/>
            <img v-else src="./assets/images/embreo-logo.png"/>
          </router-link></li>
          <li><router-link to="/">Studio</router-link></li>
          <li><router-link to="/work">Work</router-link></li>
          <li><router-link to="/contact">Contact</router-link></li>
        </ul>
      </nav>
    </header>
    <transition name="fade">
      <router-view/>
    </transition>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  components: {
    Footer
  }
}
</script>

<style>
@import './assets/css/reset.css';
@import './assets/fonts/fonts.css';

body {
  font-family: 'Sailec', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  overflow-x: hidden;
}

#app {
  background: #DBD8D2;
}

#app.alt {
  background: #595D5F;
}

nav {
  padding: 133px 163px 20px;
}

nav ul {
  display: flex;
}
nav ul li:not(:last-child) {
  margin-right: 60px;
}

nav ul li a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #8D6045;
}

nav ul li:not(#embreo-logo) a.router-link-exact-active {
  border-bottom: 5px solid #8D6045;
  padding-bottom: 5px;
}

.alt nav ul li a {
  color: #DBD8D2;
}

#embreo-logo {
  height: 30px;
  width: auto;
  margin-right: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 400ms ease-out;
  overflow: hidden;
}

.fade-enter-active {
  transition-delay: 400ms
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
</style>
